@import url('https://fonts.googleapis.com/css?family=Bellefair|IM+Fell+DW+Pica+SC|IM+Fell+Great+Primer');

* { 
    box-sizing: border-box;
}

p {
    font-family: 'Bellefair', serif;
    font-size: 1.15rem;
}

a {
    font-family: 'IM Fell DW Pica SC', serif;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    font-family: 'IM Fell Great Primer', serif;
}

h1 {
    font-size: 3rem;
    margin: 0 0 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem;
    text-align: center;
}

.headerContainer {
    position: fixed;
}

header div.headerSpace {
    height: 10rem;
}

@media only screen and (max-width: 33rem) {
    header div.headerSpace {
        height: 8rem;
    }
}

@media only screen and (max-width: 25rem) {
    header div.headerSpace {
        height: 6rem;
    }
}

header div.leatherBorder,
footer div.leatherBorder {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 3rem;
    width: 100vw;
    background: #1e3234 url("../images/leather_border.jpg") repeat-x bottom;
    background-size: auto 180%;
    position: absolute;
    z-index: 10;
}


header div.logoBanner {
    background: rgba(16, 46, 63, 0) url("../images/banner.png") no-repeat center top;
    background-size: contain;
    width: 60vw;
    max-width: 24rem;
    min-width: 14rem;
    margin: 0 1rem 0.5rem;
    padding: .5rem 1.5rem 2rem; 
    position: relative;
    z-index: 20;
}

header img.logo {
    width: 100%;
    height: auto;
}

#menuOverlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgb(80, 80, 80);
    border: none;
    z-index: 25;
}

@keyframes menuOverlayHide {
    0%   {
        opacity: 0.6;
        width: 100vw;
    }
    90% {
        opacity: 0;
        width: 100vw;
    }
    100% {
        opacity: 0;
        width: 0vw;
    }
  }

.menuOverlayHide {
    animation-name: menuOverlayHide;
    animation-duration: 1s;
    opacity: 0;
    width: 0vw;
}

.menuOverlayShow {
    opacity: 0.6;
    transition: opacity 1s;
    width: 100vw;
}

#navMenuContainer {
    background: rgba(16, 46, 63, 0) url("../images/MenuPaper_Desktop.png") no-repeat right bottom;
    background-size: cover;
    width: 25rem;
    height: auto;
    padding: 0 0 10rem 3rem;  /* ? ? bottom left */
    position: fixed;
    right: 0;
    z-index: 30;
}

.navMenuUp {
    top: -18rem;
    transition: top 1s;
}

.navMenuDown {
    top: 0rem;
    transition: top 1s;
}

.navMenuButton
{
    background: none;
    border: none;
    box-sizing: content-box;
    width: 2.75rem;
    position: absolute;
    padding: 3.5rem 2.75rem;
    bottom: 2rem;
    right: 3rem;
    z-index: 40;
}


/* header div.navMenuContainer:hover {
    top: 0rem;
}

header div.navMenuContainer:click {
    top: 0rem;
} */

header ul.navMenu {
    padding: 1.5rem 1.5rem 9rem 3rem;
}

header ul.navMenu li {
    width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
    padding: 0.5rem 0;
}

header ul.navMenu li a {
    color: #271b16;
    font-style: normal;
    display: block;
    font-size: 1.25rem;
    padding: 0.25rem 0;
    width: 100%;
    margin: 0 0.25rem;
    text-decoration: none;
    transition: background;
}

header ul.navMenu li a:hover {
    background: url(../images/nav-menu-button-hover.png) no-repeat center;
    background-size: contain;
}

@media only screen and (max-width: 56rem) {
    #navMenuContainer {
        width: 15rem;
        padding: 0 2rem 5rem 1rem;  /* ? ? bottom left */
        right: -2rem;
    }

    .navMenuUp {
        top: -13rem;
    }
    
    .navMenuButton
    {
        width: 1.75rem;
        padding: 2.5rem 2.75rem;
        bottom: 1rem;
        right: .65rem;
    }

    .navMenuButton img {
        width: 1.75rem;
    }

    header ul.navMenu {
        padding: .75rem .5rem 6rem 1.5rem;
    }

    header ul.navMenu li a {
        font-size: 1rem;
    }
}

/* @media only screen and (max-width: 30rem) {
    header ul.navMenu {
        width: 14rem;
        height: 20rem;
        right: -1rem;
        top: -13rem;
        padding: 1rem 1rem 1rem 2rem;
    }
    header ul.navMenu li {
        padding: 0.25rem 0;
    }
} */

footer {
    margin: 3rem 0 0;
}

footer div.leatherBorder {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    height: 4.5rem;
}

footer div.leatherBorder p {
    color: #e9da4f;
    font-family: 'IM Fell Great Primer', serif;
    font-weight: bold;
    margin: 1rem;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    text-align: center;
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

main img.heroImage {
    height: auto;
    max-width: 60rem;
    width: 80vw;
    display: block;
    margin: 0 auto 3rem;
}

main img.inlineImage {
    height: auto;
    max-width: 40rem;
    width: 80vw;
    display: block;
    margin: 0 auto 3rem;
}

main p {
    line-height: 1.4rem;
    margin: 0 auto 1.5rem;
    max-width: 45rem;
}

main p.tagline {
    margin: 1.5rem auto;
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
}

main div.padContent {
    margin: 0 10vw;
}

main div.sectionBreak {
    padding: 3rem 0;
}

main div.fourGridContainer {
    clear: both;
    margin-bottom: 1rem;
    max-width: 75rem;
    overflow: auto;
}

main div.fourGridContent {
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    float: left;
    width: 25%;
}

main div.fourGridContent img {
    width: 100%;
}

main div.fourGridContent h2 {
    text-align: center;
    margin: 0.75rem 0;
}

main div.fourGridContent p {
    text-align: center;
    margin: 0;
}

main iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 37.5rem;
}

main div.centered {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto 3rem;
}

main div.centered img{
    display: block;
    margin: 0 auto 3rem;
    max-width: 30rem;
    width: 100%;
}

main div.socialMediaLogoContainer {
    clear: both;
    margin: 0 0 4.5rem;
    text-align: center;
}

main div img.socialMediaLogo {
    display: inline-block;
    margin: 0 1rem;
    width: 4.5rem;
}

main a.playtestButton {
    background: rgba(255,255,255, 0) url("../images/playtest_button.jpg") no-repeat center;
    background-size: contain;
    display: block;
    margin: 0 auto 3rem;
    max-width: 30rem;
    width: 100%;
    height: 300px;
}

main a.playtestButton:hover {
    background: rgba(255,255,255, 0) url("../images/playtest_button_hover.jpg") no-repeat center;
    background-size: contain;
}

main a.playtestButton:active {
    background: rgba(255,255,255, 0) url("../images/playtest_button_click.jpg") no-repeat center;
    background-size: contain;
}

@media only screen and (max-width: 60rem) {
    main div.fourGridContent {
        width: 50%;
    }
}

@media only screen and (max-width: 35rem) {
    main div.fourGridContent {
        width: 100%;
    }
}